<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aerex</title>
	<meta name="description" content="Hello, i am a Discord bot that is in <%= guildCount %> servers!" />
	<meta name="theme-color" content="#7289DA" />
	<link rel="stylesheet" href="/variables.css" />
	<link rel="stylesheet" href="/home.css" />
</head>

<body>
	<div class="header">
		<div class="logo">
			<img src="https://cdn.discordapp.com/avatars/563186108712878090/ed54d5ed4eae31b95e0bbc565615560b.png?size=32" alt="Logo" height="32" width="32"/>
    <h1>Aerex</h1>
   </div>

   <!-- Menu -->
   <input class="menu-btn" type="checkbox" id="menu-btn" />
   <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
   <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/invite">Invite</a></li>
   </ul>
  </div>

<hr />

<div class="main-content">
  <h1>Description</h1>
  <button onclick="window.location.href= '/invite';">Invite Aerex</button>
</section>
</body>

<script src="/home.js"></script>
</html>
